body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /*overflow: hidden;*/
}

div,h1,h2,h3,p,a,img {
    padding: 0;
    margin: 0;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    color: #ECEFF1;    
}

a:visited {
    text-decoration-color: none;
    text-decoration: none;
    color: #ECEFF1;
}

/******************************************
                SIDENAVERINO
*******************************************/
.side-nav {
    padding-top: 50px;
    width: 17%;
    min-height: 100%;
    background-color: #202427;
    position: fixed;
}

.name_container {
    width: 100%;
    height: 40px;
    display: inline-block;
}

.name {
    color: #f8ffff;
    font-size: 23px;
    font-weight: 900;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.links_container {
    color: white;
    width: 100%;
    height: 33px;
    text-align: center;
}

.links_container i {
    margin: 5px;
    font-size: 24px;
}

/******************************************
                CONTENTERINO
*******************************************/

.content {
    width: 83%;
    min-height: 100%;
    padding-left: 17%;
}

.portfolio {
    /*width: 100%;*/
    /*position: relative;*/
    text-align: center;
}

.portfolio h1 {
    padding: 50px;
    color: #262626;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;     
}

.portfolio_fullstack {
    width: 100%;
    /*display: inline-flex;*/
}

.fullstack-item {
    background-color: #202427;
    color: #f8ffff;
    max-width: 550px;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    height: 240px;
    display: inline-block;
    vertical-align: middle
}

.fullstack-image {
    width: 50%;
    float: left;
}

.fullstack-image img {
    width: 100%;
    height: 220px;
}

.fullstack-title {
    width: 50%;
    float: left;
    height: 55px;
    line-height: 55px;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
}

.fullstack-desc {
    width: 50%;
    height: 45%;
    float: left;
    border-bottom: 2px solid #263238;
    border-top: 2px solid #263238;
    border
    text-align: center;
    vertical-align: middle;
}

.fullstack-frameworks {
    width: 50%;
    height: 30%;
    line-height: 55px;
    font-size: 18px;
    float: left;
    text-align: center;
    vertical-align: middle;    
}

.icon  {
    color: #f8ffff;
    width: 38px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
}

.portfolio_smallprojs {
    width: 100%;
}

.smallproj-item {
    background-color: #202427;
    color: #f8ffff;
    padding: 16px;
    margin-left: 5px;


    max-width: 360px;
    margin-bottom: 10px;
    height: 170px;
    display: inline-block;
}

.smallproj-image {
    width: 50%;
    float: left;
}

.smallproj-image img {
    width: 100%;
    height: 170px;
}