body {
	background-color: #fafafa;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	color: #666666;
}

nav {
    height: 75px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    /*offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 3px 5px #B0BEC5;
    background-color: #607D8B;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

a:visited {
    text-decoration-color: none;
    text-decoration: none;
    color: #ECEFF1;
}

nav li {
	height: 53px;
}

.nav__github {
    float: right;
    font-size: 24px;
    padding-top: 22px;
    padding-right: 15px;
    padding-left: 15px;
    color: #ECEFF1;
}

.nav__fcc {
    float: right;
    font-size: 24px;
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 15px;
    color: #ECEFF1;
}

.nav__github:hover,
.nav__fcc:hover {
	background-color: #78909C;
}

.nav__name {
    font-size: 24px;
    padding-top: 22px;
    padding-left: 12%;
    color: #ECEFF1;
}

#home-btn {
	margin-bottom: 100px;
}

h1,h2,h3,h4 {
	color: #37474F;
}

.container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.fullstack {
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;	
}

.fullstack-item {
	text-align: left;
	max-width: 650px;
	display: inline-block;
	margin: 15px;
}

.fullstack-image {
	width: 600px;
	height: 400px;
	box-shadow: 0px 0px 12px #222;
}

.fullstack-image:hover {
	opacity: 0.7;
}

.image:hover {
	opacity: 0.7;
}

.samples {
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
}

.sample-item {
	text-align: left;
	max-width: 275px;
	display: inline-block;
	margin: 15px;
}

h2, p {
	display: inline;
	font-size: 30px;
}

.blog {
	width: 65%;
	margin: 0 auto;
}

.blog, h1 {
	text-align: center;
}

.blog, p {
	text-align: left;
}

.image {
	width: 255px;
	height: 200px;
	box-shadow: 0px 0px 12px #222;
}



